/configs
corpus/
corpus.bak
training
packages
pipelines
__pycache__
.ipynb_checkpoints/
assets/annotations_raw.jsonl
assets/annotations.jsonl
assets/documents_raw.jsonl
assets/documents.jsonl
assets/documents_dev.jsonl
assets/documents_train.jsonl
assets/keywords_clean/
datasets/
results/
/models/

# pyenv
.python-version
.env
.env2
.envrc
project.lock
dist/

.mypy_cache/
.pyc

/data/**/*.spacy
.idea
.DS_Store

#git
id_github
id_github.pub
known_hosts.github