/configs
data/corpus/
corpus.bak
training
packages
pipelines
__pycache__
.ipynb_checkpoints/
data/assets/annotations_raw.jsonl
data/assets/annotations.jsonl
data/assets/documents_raw.jsonl
data/assets/documents.jsonl
data/assets/documents_dev.jsonl
data/assets/documents_train.jsonl
data/assets/keywords_clean/
datasets/
results/
/models/

# pyenv
.python-version
.env
.env2
.envrc
project.lock
dist/

.mypy_cache/
.pyc

/data/**/*.spacy
.idea
.DS_Store

#git
id_github
id_github.pub
known_hosts.github

nlp_venv/*
AWSCLIV2.pkg

rest_api_venv/*

fastText/*
google-cloud-sdk/*