uvicorn==0.12.1
fastapi==0.63.0
opensearch-py==2.0.0
requests-aws4auth==1.1.2
sqlalchemy==1.4.39
strawberry-graphql==0.140.0
sqlmodel==0.0.8
python-dotenv==0.19.2
srsly==2.4.5
boto3==1.17.88
trafilatura==1.4.0
pdfminer.six==20220524
protobuf==3.20.0
sklearn==0.0
transformers[torch]==4.20.1
sentence-transformers==2.2.2
setfit==0.1.0
numpy==1.22.4